<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>695de2c68a184c69aaebdf6b2ed02260</string>
	<key>redirectURL</key>
	<dict>
		<key>relative</key>
		<string>TurnTune://spotify-login-callback</string>
	</dict>
	<key>tokenSwapURL</key>
	<dict>
		<key>relative</key>
		<string>https://turntune-spotify-token-swap.herokuapp.com/api/token</string>
	</dict>
	<key>tokenRefreshURL</key>
	<dict>
		<key>relative</key>
		<string>https://turntune-spotify-token-swap.herokuapp.com/api/refresh_token</string>
	</dict>
</dict>
</plist>
